---
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Contacto">
    <h1>Contacto</h1>
    <p>Completá el siguiente formulario y nos pondremos en contacto:</p>
    <ContactForm />
</Layout>
