---
import ContactForm from '../components/ContactForm.astro';
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Contacto</title>
    </head>
    <body>
        <h1>Contacto</h1>
        <p>Completá el siguiente formulario y nos pondremos en contacto:</p>
        <ContactForm />
    </body>
</html>
